.hideSidebar > aside {
  width: 3.8rem;
  flex-grow: 0;

  >div:first-child >a{
    opacity: 0;
    transition: opacity 0.55s;
  }
}

.hideSidebar > div {
  width: 100%;
}

.showedSidebar > aside {
  width: var(--sidebar-width);
}

.initialSidebar > aside {
  transition: width 0.55s;
}