.hideSidebar > aside {
	width: 3rem;
	flex-grow: 0;

	> div:first-child > a {
		display: none;
	}

	>h2 {
		opacity: 0;
		transition: opacity 0.55s;
	}
}

.hideSidebar > div {
	width: 100%;
}

.showedSidebar > aside {
	width: 15rem;

	>h2 {
		opacity: 1;
		transition: opacity 0.55s;
	}
}

.initialSidebar > aside {
	transition: width 0.55s;
}
